.collection .collection-item:not(.avatar) .title + * {
  margin: 1em 0;
}

.collection-hive {
  display: flex;
  flex-wrap: wrap;
}

.collection-hive .collection-item {
  border-bottom: none;
}

.collection-hive .spacer {
  width: 100%;
}

details[open] {
  margin: 1em 0;
}

.account {
  display: inline-block;
}

.account .account-info .account-info-name {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.46));
  text-align: center;
}

:not(.carousel-item) > .account {
  height: 400px;
}

:not(.carousel-item) > .account .account-info {
  height: 100%;
}

:not(.carousel-item) > .account .account-info .account-info-image {
  width: auto;
  height: 100%;
}

.carousel-item > .account .account-info .account-info-name {
  font-size: 1.25rem;
}
