<%
	include("./!templates/_global");
%><%-
	include("./!templates/_header", {
		name: "Portfolio",
		title: "About Me",

		hasStyle: true
	}) %>
			<H2 ID = "account" Class = "heading">各種アカウント</H2>
			
			<Article>
				<H3 Class = "subheading subheading-1">Google+</H3>
				<A Class = "account card" Href = "https://plus.google.com/106666684430101995501" Target = "_blank">
					<Div Class = "account-info card-image">
						<Img Class = "account-info-image" Src = "./assets/account/Google+/005.png" />
						<Span Class = "account-info-name card-title">やさしくなーいげんちゃん。</Span>
					</Div>
				</A>

				<H3 Class = "subheading subheading-1">Mastodon</H3>
				<Div Class = "carousel">
					<Div Class = "carousel-item">
						<A Class = "account card" Href = "https://itabashi.0j0.jp/@ProgrammerGenboo" Target = "_blank">
							<Div Class = "account-info card-image">
								<Img Class = "account-info-image" Src = "./assets/account/Mastodon/itabashi-0j0-jp,qiitadon-com.png" />
								<Span Class = "account-info-name card-title">✨板橋の玄ちゃんとかいう怪人。✨</Span>
							</Div>
						</A>
					</Div>

					<Div Class = "carousel-item">
						<A Class = "account card" Href = "https://knzk.me/@ProgrammerGenboo" Target = "_blank">
							<Div Class = "account-info card-image">
								<Img Class = "account-info-image" Src = "./assets/account/Mastodon/knzk-me,oransns-com.png" />
								<Span Class = "account-info-name card-title">✨玄ちゃんおねーちゃん。✨</Span>
							</Div>
						</A>
					</Div>
				</Div>
			</Article>
<%- include("./!templates/_footer") %>