<%
	include("./!templates/_global");
%><%-
	include("./!templates/_header", {
		name: "Portfolio",
		title: "About Me",

		hasStyle: true
	}) %>
			<UL Class = "collapsible expandable">
				<Li>
					<Div Class = "collapsible-header"><I Class = "material-icons">contacts</I>基本情報</Div>

					<Article Class = "collapsible-body">
						<UL Class = "collection collection-hive">
							<Li Class = "collection-item avatar">
								<I Class = "circle material-icons">tag_faces</I>

								<Span Class = "title">Name</Span>
								<Div>どっかのげんちゃん。</Div>
							</Li>

							<Li Class = "collection-item avatar">
								<I Class = "circle material-icons">event</I>

								<Span Class = "title">Birthday</Span>
								<Div>2002/03/03</Div>
							</Li>

							<Li Class = "spacer"></Li>

							<Li Class = "collection-item avatar">
								<I Class = "circle material-icons">speaker_notes</I>

								<Span Class = "title">Biography</Span>
								<Div>色んな所に居るただの学生。</Div>
							</Li>

							<Li Class = "collection-item avatar">
								<I Class = "circle material-icons">palette</I>

								<Span Class = "title">Like💓</Span>
								<Div>
									<UL>
										<Li>🎤 Singing</Li>
										<Li>💻 Developing</Li>
										<Li>🎨 Drawing</Li>
										<Li>👀 Watching Landscapes</Li>
									</UL>
								</Div>
							</Li>

							<Li Class = "spacer"></Li>

							<Li Class = "collection-item avatar">
								<I Class = "circle material-icons-extended">communities</I>

								<Span Class = "title">Organizations</Span>
								<Div>
									<Details>
										<Summary>Genbu Project ― Since 2015/12/13</Summary>
										<P>Owner</P>
									</Details>

									<Details>
										<Summary>板橋丼(Itabashi-don) ― Since 2018/03/16</Summary>
										<P>Administrator</P>
									</Details>

									<Details>
										<Summary>DoS Project ― Since 2018/09/18</Summary>
										<P>Sub Owner</P>
									</Details>

									<Details>
										<Summary>RASPBERRY Studio ― Since 2018</Summary>
										<P>Member</P>
									</Details>
								</Div>
							</Li>
						</UL>
					</Article>
				</Li>

				<Li>
					<Div Class = "collapsible-header"><I Class = "material-icons">people</I>各種アカウント</Div>

					<Article Class = "collapsible-body">
						<H3 Class = "subheading subheading-1">Google+</H3>
						<Div>
							<A Class = "account card" Href = "https://plus.google.com/106666684430101995501" Target = "_blank">
								<Div Class = "account-info card-image">
									<Img Class = "account-info-image" Src = "./assets/account/Google+/005.png" />
									<Span Class = "account-info-name card-title">やさしくなーいげんちゃん。</Span>
								</Div>
							</A>

							<A Class = "account card" Href = "https://plus.google.com/116718486142352577868" Target = "_blank">
								<Div Class = "account-info card-image">
									<Img Class = "account-info-image" Src = "./assets/account/Google+/005.png" />
									<Span Class = "account-info-name card-title">†どっかのだれか。†</Span>
								</Div>
							</A>
						</Div>

						<H3 Class = "subheading subheading-1">Mastodon</H3>
						<Div Class = "carousel">
							<Div Class = "carousel-item">
								<A Class = "account card" Href = "https://itabashi.0j0.jp/@ProgrammerGenboo" Target = "_blank">
									<Div Class = "account-info card-image">
										<Img Class = "account-info-image" Src = "./assets/account/Mastodon/itabashi-0j0-jp,qiitadon-com.png" />
										<Span Class = "account-info-name card-title">✨板橋の玄ちゃんとかいう怪人。✨</Span>
									</Div>
								</A>
							</Div>

							<Div Class = "carousel-item">
								<A Class = "account card" Href = "https://knzk.me/@ProgrammerGenboo" Target = "_blank">
									<Div Class = "account-info card-image">
										<Img Class = "account-info-image" Src = "./assets/account/Mastodon/knzk-me,oransns-com.png" />
										<Span Class = "account-info-name card-title">✨玄ちゃんおねーちゃん。✨</Span>
									</Div>
								</A>
							</Div>
						</Div>
					</Article>
				</Li>

				<Li>
					<Div Class = "collapsible-header"><I Class = "material-icons">edit</I>取得資格</Div>

					<Article Class = "collapsible-body">
						<UL Class = "collection">
							<Li Class = "collection-item">
								<Span Class = "title">日本漢字能力検定</Span>

								<Div>
									準2級(取得日: 2016/02/17)<Br />
									3級(取得日: 2015/02/18)
								</Div>
							</Li>

							<Li Class = "collection-item">
								<Span Class = "title">語彙・読解力検定</Span>

								<Div>
									<Details>
										<Summary>2級(取得日: 2018/12/03)</Summary>

										<Article>
											新聞語彙スコア: 710<Br />
											新聞語彙・読解率: 82.0%
										</Article>
									</Details>

									<Details>
										<Summary>準2級(取得日: 2017/12/04)</Summary>

										<Article>
											新聞語彙スコア: 600<Br />
											新聞語彙・読解率: 80.0%
										</Article>
									</Details>

									<Details>
										<Summary>3級(取得日: 2016/12/05)</Summary>

										<Article>
											新聞語彙スコア: 460<Br />
											新聞語彙・読解率: 84.3%
										</Article>
									</Details>
								</Div>
							</Li>

							<Li Class = "collection-item">
								<Span Class = "title">実用英語技能検定</Span>

								<Div>
									<Details>
										<Summary>2級(取得日: 2020/11/20)</Summary>

										<Article>
											CSE Score: 2198/2600

											<UL>
												<Li>Reading: 588/650</Li>
												<Li>Listening: 555/650</Li>
												<Li>Writing: 554/650</Li>
												<Li>Speaking: 501/650</Li>
											</UL>
										</Article>
									</Details>

									<Details>
										<Summary>2級(取得日: 2016/11/11)</Summary>

										<Article>
											CSE Score: 2077
										</Article>
									</Details>

									準2級(取得日: 2015/11/13)<Br />
									3級(取得日: 2015/02/27)<Br />
									4級(取得日: 2014/10/20)
								</Div>
							</Li>

							<Li Class = "collection-item">
								<Span Class = "title">TOEIC Bridge</Span>

								<Div>
									<Details>
										<Summary>Score 124(取得日: 2017/02/18)</Summary>

										<Article>
											Listening: 64<Br />
											Reading: 70
										</Article>
									</Details>
								</Div>
							</Li>

							<Li Class = "collection-item">
								<Span Class = "title">GTEC</Span>

								<Div>
									<Details>
										<Summary>Grade 5(取得日: 2018/01)</Summary>

										<Article>
											Score: 582
										</Article>
									</Details>
								</Div>
							</Li>
						</UL>
					</Article>
				</Li>

				<Li>
					<Div Class = "collapsible-header"><I Class = "material-icons">history</I>これまでの歩み</Div>

					<Article Class = "collapsible-body">
						
					</Article>
				</Li>
			</UL>
<%- include("./!templates/_footer") %>