<%
	include("./!templates/_global");
%><%-
	include("./!templates/_header", {
		name: "Portfolio",
		title: "About Me",

		hasStyle: true
	}) %>
			<UL Class = "collapsible expandable">
				<Li>
					<Div Class = "collapsible-header"><I Class = "material-icons">contacts</I>基本情報</Div>
					<Div Class = "collapsible-body">
						<UL Class = "collection collection-hive">
							<Li Class = "collection-item avatar">
								<I Class = "circle material-icons">tag_faces</I>
								<Span Class = "title">Name</Span>
								<P>どっかのげんちゃん。</P>
							</Li>

							<Li Class = "collection-item avatar">
								<I Class = "circle material-icons">date_range</I>
								<Span Class = "title">Birthday</Span>
								<P>2002/03/03</P>
							</Li>

							<Li Class = "spacer"></Li>

							<Li Class = "collection-item avatar">
								<I Class = "circle material-icons">speaker_notes</I>
								<Span Class = "title">Biography</Span>
								<P>色んな所に居るただの学生。</P>
							</Li>
						</UL>
					</Div>
				</Li>

				<Li>
					<Div Class = "collapsible-header"><I Class = "material-icons">people</I>各種アカウント</Div>

					<Div Class = "collapsible-body">
						<H3 Class = "subheading subheading-1">Google+</H3>
						<A Class = "account card" Href = "https://plus.google.com/106666684430101995501" Target = "_blank">
							<Div Class = "account-info card-image">
								<Img Class = "account-info-image" Src = "./assets/account/Google+/005.png" />
								<Span Class = "account-info-name card-title">やさしくなーいげんちゃん。</Span>
							</Div>
						</A>

						<H3 Class = "subheading subheading-1">Mastodon</H3>
						<Div Class = "carousel">
							<Div Class = "carousel-item">
								<A Class = "account card" Href = "https://itabashi.0j0.jp/@ProgrammerGenboo" Target = "_blank">
									<Div Class = "account-info card-image">
										<Img Class = "account-info-image" Src = "./assets/account/Mastodon/itabashi-0j0-jp,qiitadon-com.png" />
										<Span Class = "account-info-name card-title">✨板橋の玄ちゃんとかいう怪人。✨</Span>
									</Div>
								</A>
							</Div>

							<Div Class = "carousel-item">
								<A Class = "account card" Href = "https://knzk.me/@ProgrammerGenboo" Target = "_blank">
									<Div Class = "account-info card-image">
										<Img Class = "account-info-image" Src = "./assets/account/Mastodon/knzk-me,oransns-com.png" />
										<Span Class = "account-info-name card-title">✨玄ちゃんおねーちゃん。✨</Span>
									</Div>
								</A>
							</Div>
						</Div>
					</Div>
				</Li>

				<Li>
					<Div Class = "collapsible-header"><I Class = "material-icons">edit</I>取得資格</Div>

					<Div Class = "collapsible-body">
						<UL Class = "collection">
							<Li Class = "collection-item">
								日本漢字能力検定 準2級<Br />
								取得日：2016/02/17
							</Li>

							<Li Class = "collection-item">
								語彙・読解力検定 2級<Br />
								> 新聞語彙スコア: 710<Br />
								> 新聞語彙・読解率: 82.0%
								<Br /><Br />
								取得日：2018/12/03
							</Li>

							<Li Class = "collection-item">
								実用英語技能検定 2級<Br />
								> CSE Score: 2077
								<Br /><Br />
								取得日：2016/11/11
							</Li>

							<Li Class = "collection-item">
								TOEIC Bridge<Br />
								> Score: 124<Br />
								> Listening: 64<Br />
								> Reading: 70
								<Br /><Br />
								取得日：2017/02/18
							</Li>

							<Li Class = "collection-item">
								GTEC<Br />
								> Grade5<Br />
								> Score: 582
								<Br /><Br />
								取得日：2018/01
							</Li>
						</UL>
					</Div>
				</Li>

				<Li>
					<Div Class = "collapsible-header"><I Class = "material-icons">history</I>これまでの歩み</Div>

					<Div Class = "collapsible-body">
						
					</Div>
				</Li>
			</UL>
<%- include("./!templates/_footer") %>